<div id="content" class="dashboard padding-20">

    <!-- FLOT CHART -->
    <div id="panel-1" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Flot Charts</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">VERTICAL</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->

        <!-- panel content -->
        <div class="panel-body">
            <div id="flot-bar" class="flot-chart"></div>
        </div>
        <!-- /panel content -->

    </div>

    <!-- FLOT CHART HORIZONTAL -->
    <div id="panel-2" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Flot Charts</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">HORIZONTAL</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->
        <!-- panel content -->
        <div class="panel-body">
            <div id="flot-bar-horizontal" class="flot-chart"></div>
        </div>
        <!-- /panel content -->

    </div>

    <!-- CHART JS -->
    <div id="panel-3" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Chart JS</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs"></small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->
        <!-- panel content -->
        <div class="panel-body">
            <canvas class="chartjs fullwidth height-300" id="barChartCanvas" width="547" height="300"></canvas>
        </div>
        <!-- /panel content -->

    </div>

    <div class="row">

        <!-- LEFT -->
        <div class="col-md-6">
            <!-- Bar Graph -->
            <div id="panel-graphs-morris-r1" class="panel panel-default">

                <div class="panel-heading">
                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">COLOURIZED</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->

                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-colour-bar"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Bar Graph -->
        </div>

        <!-- RIGHT -->
        <div class="col-md-6">
            <!-- Normal Bar Graph -->
            <div id="panel-graphs-morris-r3" class="panel panel-default">

                <div class="panel-heading">
                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">NORMAL</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->

                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-normal-bar"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Normal Bar Graph -->
        </div>
    </div>

    <!-- Stacked Graph -->
    <div id="panel-graphs-morris-r6" class="panel panel-default">

        <div class="panel-heading">

            <span class="elipsis">
                <strong>Morris Charts </strong>
                <small class="size-12 weight-300 text-mutted hidden-xs">STACKED</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->


        </div>

        <!-- panel content -->
        <div class="panel-body nopadding">
            <div id="morris-stacked-graph"><!-- GRAPH CONTAINER --></div>
        </div>
        <!-- /panel content -->

    </div>
    <!-- /Stacked Graph -->

</div>