<div id="content" class="dashboard padding-20">

    <!-- FLOT CHART -->
    <div id="panel-1" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Flot Charts</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">VERTICAL</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->

        <!-- panel content -->
        <div class="panel-body">
            <div id="flot-bar" class="flot-chart"></div>
        </div>
        <!-- /panel content -->

    </div>

    <!-- FLOT CHART HORIZONTAL -->
    <div id="panel-2" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Flot Charts</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">HORIZONTAL</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->
        <!-- panel content -->
        <div class="panel-body">
            <div id="flot-bar-horizontal" class="flot-chart"></div>
        </div>
        <!-- /panel content -->

    </div>

    <!-- CHART JS -->
    <div id="panel-3" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Chart JS</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs"></small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->
        <!-- panel content -->
        <div class="panel-body">
            <canvas class="chartjs fullwidth height-300" id="barChartCanvas" width="547" height="300"></canvas>
        </div>
        <!-- /panel content -->

    </div>

</div>