<div id="content" class="dashboard padding-20">

    <!-- BOXES -->
    <div class="row">

        <!-- Feedback Box -->
        <div class="col-md-3 col-sm-6">

            <!-- BOX -->
            <div class="box danger">
                <!-- default, danger, warning, info, success -->

                <div class="box-title">
                    <!-- add .noborder class if box-body is removed -->
                    <h4><a href="#">9866 Feedbacks</a></h4>
                    <small class="block">654 New fedbacks today</small>
                    <i class="fa fa-comments"></i>
                </div>

                <div class="box-body text-center">
                    <span class="sparkline" data-plugin-options='{"barColor":"#ffffff","height":"35px","width":"100%", "lineColor":"#ffffff", "fillColor":"#ffffff"}'>
                        331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                    </span>
                </div>

            </div>
            <!-- /BOX -->

        </div>

        <!-- Profit Box -->
        <div class="col-md-3 col-sm-6">

            <!-- BOX -->
            <div class="box warning">
                <!-- default, danger, warning, info, success -->

                <div class="box-title">
                    <!-- add .noborder class if box-body is removed -->
                    <h4>$10M Profit</h4>
                    <small class="block">1,2 M Profit for this month</small>
                    <i class="fa fa-bar-chart-o"></i>
                </div>

                <div class="box-body text-center">
                    <span class="sparkline" data-plugin-options='{"type":"discrete","lineColor":"#ffffff","height":"35px"}'>
                        331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327,331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                    </span>
                </div>

            </div>
            <!-- /BOX -->

        </div>

        <!-- Orders Box -->
        <div class="col-md-3 col-sm-6">

            <!-- BOX -->
            <div class="box default">
                <!-- default, danger, warning, info, success -->

                <div class="box-title">
                    <!-- add .noborder class if box-body is removed -->
                    <h4>58944 Orders</h4>
                    <small class="block">18 New Orders</small>
                    <i class="fa fa-shopping-cart"></i>
                </div>

                <div class="box-body text-center">
                    <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"35px","barWidth":"5","barSpacing":"2"}'>
                    0:2,2:4,4:2,4:1,0:2,2:4,4:2,4:1,0:2,2:4,4:2,4:1,0:2,2:4,4:2,4:1
                    </span>
                </div>

            </div>
            <!-- /BOX -->

        </div>

        <!-- Online Box -->
        <div class="col-md-3 col-sm-6">

            <!-- BOX -->
            <div class="box success">
                <!-- default, danger, warning, info, success -->

                <div class="box-title">
                    <!-- add .noborder class if box-body is removed -->
                    <h4>3485 Online</h4>
                    <small class="block">78185 Unique visitors today</small>
                    <i class="fa fa-globe"></i>
                </div>

                <div class="box-body text-center">
                    <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
                        331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
                    </span>
                </div>

            </div>
            <!-- /BOX -->

        </div>

    </div>
    <!-- /BOXES -->
    <!-- Sparkline -->
    <div id="graph-sparkline" class="panel panel-default">

        <div class="panel-heading">

            <span class="elipsis">
                <!-- panel title -->
                <strong>Sparkline</strong>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
            </ul>
            <!-- /right options -->

        </div>

        <!-- panel content -->
        <div class="panel-body">


            <!--
                TYPE:	'line', 'bar', 'tristate', 'discrete', 'bullet', 'pie' or 'box'

                USAGE: 	data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'
            -->
            <p>
                Inline 				<span class="sparkline" data-plugin-options='{"barColor":"#D9534F","height":"26px"}'>10,8,9,3,5,8,5</span> <br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"barColor":"#D9534F","height":"26px"}'&gt;10,8,9,3,5,8,5&lt;/span&gt;
                </code><br /><br class="hidden-md" /><br class="hidden-md" />

                line graphs 		<span class="sparkline" data-plugin-options='{"barColor":"#D9534F","height":"26px"}'>8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"barColor":"#D9534F","height":"26px"}'&gt;8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10&lt;/span&gt;
                </code><br /><br class="hidden-md" />

            </p>


            <p>
                Bar charts 			<span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'>9,6,5,6,6,7,7,6,7,8,9,7</span> &nbsp; &nbsp; &nbsp;
                <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#5CB85C","height":"26px","barWidth":"5","barSpacing":"2"}'>9,6,5,6,6,7,7,6,7,8,9,7</span> &nbsp; &nbsp; &nbsp;
                <span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#687482","height":"26px","barWidth":"5","barSpacing":"2"}'>9,6,5,6,6,7,7,6,7,8,9,7</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'&gt;9,6,5,6,6,7,7,6,7,8,9,7&lt;/span&gt; <br />
                </code><br /><br class="hidden-md" />

                Negative values: 	<span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'>-3,1,2,0,3,-1</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'&gt;-3,1,2,0,3,-1&lt;/span&gt; <br />
                </code><br /><br class="hidden-md" />

                Stacked: 			<span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'>0:2,2:4,4:2,4:1</span><br />
                <code class="fsize11 text-muted hidden-md">
                    Stacked &lt;span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#D9534F","height":"26px","barWidth":"5","barSpacing":"2"}'&gt;0:2,2:4,4:2,4:1&lt;/span&gt; <br />
                </code><br /><br class="hidden-md" />

            </p>


            <p>
                Discrete
                <span class="sparkline" data-plugin-options='{"type":"discrete","lineColor":"blue","height":"26px"}'>4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"discrete","lineColor":"blue","height":"26px"}'&gt;4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5&lt;/span&gt; <br />
                </code><br /><br class="hidden-md" />

                Discrete with treshold
                <span class="sparkline" data-plugin-options='{"type":"discrete","lineColor":"blue","thresholdColor":"red","thresholdValue":"4","height":"26px"}'>4,6,7,7,4,3,2,1,4</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"discrete","lineColor":"blue","thresholdColor":"red","thresholdValue":"4","height":"26px"}'&gt;4,6,7,7,4,3,2,1,4&lt;/span&gt; <br />
                </code><br class="hidden-md" />

            </p>


            <p>
                Bullet		<span class="sparkline" data-plugin-options='{"type":"bullet","height":"26px"}'>10,12,12,9,7</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"bullet","height":"26px"}'&gt;10,12,12,9,7&lt;/span&gt; <br />
                </code><br class="hidden-md" />
            </p>


            <p>
                Box		<span class="sparkline" data-plugin-options='{"type":"box","height":"26px"}'>4,27,34,52,54,59,61,68,78,82,85,87,91,93,100</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"box","height":"26px"}'&gt;4,27,34,52,54,59,61,68,78,82,85,87,91,93,100&lt;/span&gt; <br />
                </code><br class="hidden-md" />
            </p>

            <p>
                Pie Chart
                <span class="sparkline" data-plugin-options='{"type":"pie","height":"26px"}'>1,1,2</span>
                <span class="sparkline" data-plugin-options='{"type":"pie","height":"26px"}'>1,5</span>
                <span class="sparkline" data-plugin-options='{"type":"pie","height":"26px"}'>20,50,80</span><br />
                <code class="fsize11 text-muted hidden-md">
                    &lt;span class="sparkline" data-plugin-options='{"type":"pie","height":"26px"}'&gt;20,50,80&lt;/span&gt; <br />
                </code><br class="hidden-md" />
            </p>

        </div>
        <!-- /panel content -->

    </div>
    <!-- /Sparkline -->
</div>