<div id="content" class="dashboard padding-20">

    <!-- FLOT CHART -->
    <div id="panel-1" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Flot Charts</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">(2015 - 2016)</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->

        <!-- panel content -->
        <div class="panel-body">
            <div id="flot-sales" class="fullwidth height-250"></div>

        </div>
        <!-- /panel content -->

        <!-- panel footer -->
        <div easypie-stat class="panel-footer" datasource="stats"></div>
        <!-- /panel footer -->

    </div>

    <!--  CHART JS-->
    <div id="panel-2" class="panel panel-default">

        <!-- panel header -->
        <div class="panel-heading">
            <span class="title elipsis">
                <strong>Chart JS</strong> <!-- panel title -->
                <small class="size-12 weight-300 text-mutted hidden-xs">(2015 - 2016)</small>
            </span>

            <!-- right options -->
            <ul class="options pull-right list-inline">
                <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
            </ul>
            <!-- /right options -->
        </div>
        <!-- /panel header -->

        <!-- panel content -->
        <div class="panel-body">
            <canvas class="chartjs fullwidth height-300" id="lineChartCanvas" width="547" height="300"></canvas>
            <!--<div id="lineChartCanvas-legend" class="chart-legend"></div>-->
        </div>
        <!-- /panel content -->

    </div>

    <div class="row">

        <!-- LEFT -->
        <div class="col-md-6">
            <!-- Year Graph -->
            <div id="panel-graphs-morris-l2" class="panel panel-default">

                <div class="panel-heading">
                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">YEAR CHART</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->

                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-year-graph"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Year Graph -->

            <!-- Decimal Graph -->
            <div id="panel-graphs-morris-l3" class="panel panel-default">

                <div class="panel-heading">

                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">DECIMAL CHART</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->

                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-decimal-graph"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Decimal Graph -->

        </div>

        <!-- RIGHT -->
        <div class="col-md-6">
            <!-- Time Graph -->
            <div id="panel-graphs-morris-r2" class="panel panel-default">

                <div class="panel-heading">

                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">TIME CHART</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->


                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-time-graph"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Time Graph -->

            <!-- Non Continuous Graph -->
            <div id="panel-graphs-morris-r5" class="panel panel-default">

                <div class="panel-heading">

                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">NON CONTINUOUS CHART</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->
                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-non-continue-graph"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Non Continuous Graph -->


        </div>

    </div>
</div>

