<div id="content" class="dashboard padding-20">

    <div class="row">
        <!-- LEFT -->
        <div class="col-md-6">
            <!-- Donut Graph -->
            <div id="panel-graphs-morris-r4" class="panel panel-default">

                <div class="panel-heading">

                    <span class="elipsis">
                        <strong>Morris Charts </strong>
                        <small class="size-12 weight-300 text-mutted hidden-xs">DONUT</small>
                    </span>

                    <!-- right options -->
                    <ul class="options pull-right list-inline">
                        <li><a href="#" class="opt panel_colapse" data-toggle="tooltip" title="Colapse" data-placement="bottom"></a></li>
                        <li><a href="#" class="opt panel_fullscreen hidden-xs" data-toggle="tooltip" title="Fullscreen" data-placement="bottom"><i class="fa fa-expand"></i></a></li>
                        <li><a href="#" class="opt panel_close" data-confirm-title="Confirm" data-confirm-message="Are you sure you want to remove this panel?" data-toggle="tooltip" title="Close" data-placement="bottom"><i class="fa fa-times"></i></a></li>
                    </ul>
                    <!-- /right options -->
                </div>

                <!-- panel content -->
                <div class="panel-body nopadding">
                    <div id="morris-donut-graph"><!-- GRAPH CONTAINER --></div>
                </div>
                <!-- /panel content -->

            </div>
            <!-- /Donut Graph -->
        </div>


        <!-- RIGHT -->
        <div class="col.md-6">

        </div>

    </div>

</div>